@model PriceCalculation.ViewModels.OrderViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

    var x = @Html.Raw(Json.Serialize(Model));


}

<h1>Shirt</h1>

<form asp-action="CreateOrder" asp-controller="Order" method="post">


    <div id="first">

        <div id="content_background" class="makebackground" style="border:medium">
            @*Hier beginnt content*@
            @*<div id="content_background" style="background-color: white;">*@

            <input type="hidden" id="id" value="1">

            <div id="divTxt" class="row mh-100">


                <div class="input-group flex-nowrap mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="addon-wrapping">Angebots Nummer</span>
                    </div>
                    <input  class="form-control" asp-for="OfferId" readonly  aria-label="Username" aria-describedby="addon-wrapping">
                </div>

                <div class="input-group mb-3">
                    <label asp-for="TextilColorId" class="input-group-text"></label>
                    <select asp-for="TextilColorId" class="custom-select" asp-items="@(new SelectList(Model.TextilColorList,"Id","TextilColorName"))"></select>
                    <span asp-validation-for="TextilColorId" class="text-danger"></span>
                </div>



                <div class="input-group mb-3">
                    <label asp-for="NumberOfPieces" class="input-group-text"></label>
                    <input asp-for="NumberOfPieces" class="form-control" />
                    <span asp-validation-for="NumberOfPieces" class="text-danger"></span>
                </div>

                <div class="input-group mb-3">
                    <label asp-for="TextilId" class="input-group-text"></label>
                    <select asp-for="TextilId" class="custom-select" asp-items="@(new SelectList(Model.TextilList,"Id","TextilName"))"></select>
                    <span asp-validation-for="TextilId" class="text-danger"></span>
                </div>







            </div>
            @*</div>*@
            @*Hier endet content*@

        </div>

    </div>



    <div class="float-start mt-3 float-start">
        <a href="#" onClick="addFormField(); return false;">
            <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26   " fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"></path>
            </svg>
        </a>


        


    </div>

        <div class="float-start">
            <button type="submit" id="addtocart" class="btn btn-primary mt-3">Weiter</button>
        </div>



</form>




@section Scripts {

    <script>

         var JsonModelShirt = @Html.Raw(Json.Serialize(Model));


    </script>

}